---
import Layout from '../layouts/Layout.astro';
import FileList from '../components/FileList';
import FileUpload from '../components/FileUpload';

---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Cloud At Home</span></h1>
		<FileList client:load />
		<FileUpload client:load />		
	</main>
</Layout>
