---
import Layout from '../layouts/Layout.astro';
import Files from '../components/Files';

---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Cloud At Home</span></h1>
		<Files client:load />
	</main>
</Layout>
