---
const { title } = Astro.props;
---

<header class="bg-blue-600 rounded-lg m-2">
  <div class="p-4 flex justify-center mx-auto">
    <a class="cursor-pointer" href="https://github.com/ybencab/CloudAtHome/tree/main" target="_blank">
      <h1 class="text-gray-100 text-xl font-bold">{title}</h1>
    </a>
  </div>
</header>
